@import 'tailwindcss';

@theme {
  --color-background: #f5f3e9;
  --color-foreground: #748da6;
  --color-primary: #6a87b3;
  --color-secondary: #97c0ca;
  --color-border-default: #b3c8cf;
}

@media (prefers-color-scheme: dark) {
  @theme {
  }
}
