@import "tailwindcss";

@theme {
  --color-background: #f9f7f0;
  --color-foreground: #748da6;
  --color-primary: #6a87b3;
  --color-secondary: #97c0ca;
  --color-border-default: #b3c8cf;
  --color-muted-foreground: #a0a7b3;
  --color-muted: #e8e5dd;

  --text-16: 16px;
  --text-14: 14px;
  --text-12: 12px;
}

@media (prefers-color-scheme: dark) {
  @theme {
  }
}
