@import "tailwindcss";

@theme {
  --color-background: #f9f7f0;
  --color-foreground: #748da6;
  --color-inner: #fafaf8;
  --color-primary: #6a87b3;
  --color-secondary: #97c0ca;
  --color-border-default: #b3c8cf;
  --color-muted-foreground: #3c5376;
  --color-muted: #e8e5dd;
  --color-ring: #6a87b3;
  --color-destructive: #dc2626;
  --color-memo: #f0f4f3;

  --text-16: 16px;
  --text-14: 14px;
  --text-12: 12px;
}

.dark {
  --color-background: #0f0e0e;
  --color-foreground: #b8c5d1;
  --color-inner: #1a1a1d;
  --color-primary: #7d91ac;
  --color-secondary: #6f9ba8;
  --color-border-default: #2d3748;
  --color-muted-foreground: #a0aec0;
  --color-muted: #2d3748;
  --color-ring: #5b9bd5;
  --color-destructive: #f56565;
  --color-memo: #22272b;
}
